.signInContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../public/sign-in.png') no-repeat center center fixed;
    background-size: 100%;
    z-index: -1;
  }
  .backgroundImage {
    /* The image used */
    background-image: url("../public/sign-in.png");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  