/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/SignInPage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.SignInPage_signInContainer__HxpBL {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .SignInPage_backgroundImage__uqikD {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/_next/static/media/sign-in.0e7aef6d.png) no-repeat center center fixed;
    background-size: 100%;
    z-index: -1;
    /* The image used */
    background-image: url(/_next/static/media/sign-in.0e7aef6d.png);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
